{% extends "core/base.html" %}

{% block content %}


<h1>HocaBilir Platformu</h1>

        {% if user.is_authenticated %}

            <h3>Hoş geldin, {{ user.username }}!</h3>
            <p>User Type: {{ user.user_type }}</p>

            {% if user.user_type == 'student' or user.user_type == 'r_student' %}
                <a href="{% url 'core:student_dashboard' %}">Öğrenci Paneli (Soru Sor)</a>
            {% elif user.user_type == 'teacher' %}
                <a href="{% url 'core:teacher_dashboard' %}">Öğretmen Paneli (Soruları Gör)</a>
            {% endif %}
            <br><br>

            <form action="{% url 'accounts:logout' %}" method="POST" style="display: inline;">
                {% csrf_token %} <button type="submit">Çıkış Yap (Logout)</button>
            </form>

        {% else %}

            <h3>Lütfen giriş yapın veya kayıt olun.</h3>

            <a href="{% url 'accounts:login' %}" class="btn btn-primary">Giriş Yap</a>
            <br>
            <a href="{% url 'accounts:register_student' %}" class="btn btn-danger">Öğrenci Kaydı</a>

        {% endif %}

{% endblock %}