{% extends "core/base.html" %}

{% block content %}

    <div class="card  border-0" style="background-color: rgba(0, 0, 0, 0);">
        {% if user.is_authenticated %}

            <h3 class="text-center">Hoş geldin, {{ user.username }}!</h3>

            <div class="text-center mt-4">
                {% if user.user_type == 'student' or user.user_type == 'r_student' %}
                    <a href="{% url 'core:student_dashboard' %}" class="btn btn-primary btn-lg">
                        Öğrenci Paneli (Soru Sor)
                    </a>
                {% elif user.user_type == 'teacher' %}
                    <a href="{% url 'core:teacher_dashboard' %}" class="btn btn-success btn-lg">
                        Öğretmen Paneli (Soruları Gör)
                    </a>
                {% endif %}
            </div>

            <hr class="my-4">

            <div class="text-center">
                <form action="{% url 'accounts:logout' %}" method="POST" class="d-inline">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Çıkış Yap (Logout)</button>
                </form>
            </div>

        {% else %}

            <div class="row justify-content-center" style="background-color: rgba(0, 0, 0, 0); margin-top: 15%;">

                <div class="col-md-7 my-5">
                    <div class="card shadow-sm border-0"style="background-color: rgba(255, 255, 255, 0.5);">
                        <div class="card-body p-5">
                            <h1 class="card-title text-center mb-4">Uzmana Sor</h1>
                            <h3 class="text-center text-muted">Lütfen giriş yapın veya kayıt olun.</h3>

                                <div class="text-center mt-4">
                                    <a href="{% url 'accounts:login' %}" class="btn btn-primary btn-lg mx-1"> Giriş Yap </a>
                                    <a href="{% url 'accounts:register_student' %}" class="btn btn-secondary btn-lg mx-1">Öğrenci Kaydı </a>
                                </div>
                        </div>  
                    </div> 
                </div> 
            </div>  
        {% endif %}
    </div> 
    
    {% endblock %}