{% extends "core/base.html" %} 

{% block content %} 

<h2>Soru Detayı: {{ question.title }}</h2>

<div style="margin: 50;">
    <p>
        <strong>Gönderen:</strong> {{ question.question_author.username }}
        <br>
        <strong>Derslik:</strong> {{ question.offering|default:"Ders Dışı" }}
        <br>
        <strong>Önem:</strong> {{ question.get_priority_display|default:question.question_priority }}
    </p>

    <div>
        <strong>Soru Başlığı:</strong>
        <p style="border:1px solid #ccc; padding: 10px;">
            {{ question.title }}
        </p>

        <strong>Soru İçeriği:</strong>
        <p style="border:1px solid #ccc; padding: 10px;">
            {{ question.content }}
        </p>
    </div>

    <hr> 
    
<h3>Mevcut Cevaplar</h3>
    {% for answer in answers %}
        <div class="card bg-light mb-3">
            <div class="card-header">
                <strong>{{ answer.author.username }}</strong> 
                ({{ answer.author.get_academic_rank_display|default:"Öğrenci" }})
                - <small>{{ answer.created_at|date:"d M Y, H:i" }}</small>
            </div>
            <div class="card-body">
                <p class="card-text">{{ answer.content|linebreaks }}</p>
            </div>
        </div>
    {% empty %}
        <p>Bu soruya henüz cevap yazılmamış.</p>
    {% endfor %}

    <hr>

    {% if user.user_type == 'teacher' %}

        <h3>Soruya Cevap Yaz</h3>
        <form method="POST">
            {% csrf_token %}
            {{ answer_form.as_p }}

            <button type="submit" name="answer_submit" class="btn btn-primary">
                Cevabı Gönder
            </button>
        </form>

        <hr>

        <h3>Soruyu Yönlendir</h3>
        <form method="POST">
            {% csrf_token %}
            {{ forward_form.as_p }}

            <button type="submit" name="forward_submit" class="btn btn-secondary">
                Bu Hocaya Yönlendir (Forward)
            </button>
        </form>

        <hr>

        <h3>Soru Durumu</h3>
        {% if question.question_old_handler%}
            <p>
                Bu soru <strong>{{ question.question_old_handler.username }}</strong> 
                tarafından size iletildi.
            </p>
        {% else %}
            <p>
                Bu soru ilk kez size atandı.
            </p>
        {% endif %}

    {% endif %}

    <br>

    {% if user.user_type == 'teacher' %}
        <a href="{% url 'core:teacher_dashboard' %}" class="btn btn-outline-dark">
            Listeye Geri Dön
        </a>
    {% else %}
        <a href="{% url 'core:student_dashboard' %}" class="btn btn btn-outline-dark">
            Listeye Geri Dön
        </a>
    {% endif %}

{% endblock %}